.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.mainTitle {
  background-color: #40bce7;
  padding: 1.5rem;
  margin-top: -0.01rem;
  border: 1px outset white;
  color: white;
}

.formTitle{
  background-color: #40bce7;
  width: 55.4%;
  margin: 0 auto;
  border: 2px groove whitesmoke;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.smurfs-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.smurf-box {
  border: 1rem solid #40bce7;
  border-radius: 5px;
  margin: 1rem auto;
  padding: 1rem;
  width: 32%;

}

@media (max-width: 500px) {
  .smurf-box {
    width: 90%;
  }
}

form {
  background: rgba(64, 188, 231, 0.75);
  padding :3.2rem;
  width: 50%;
  margin: 0 auto;
  border: 3px groove white;
}

.imgNameCta {
  width: 4rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}

.imgNameCta img {
  width:50%;
}
.icon {
  margin-right: 1.0rem;
}

input {
  margin: 0.5rem auto;
  padding: 0.5rem;
  border: 2px inset white;
}

#age {
  margin-left: 1.2rem;
}

label {
  font-weight: 800;
  color: white;

}